@model Gbc_Travel_Group63.Models.Flights

@{
    ViewData["Title"] = "Edit";
}
<style>
    #save{
        padding-top: 10px;
    }
</style>
<h3>Edit Flights</h3>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="FlightsControllercs" asp-action="Edit" asp-route-FlightNumber="@Model.FlightNumber" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="FlightNumber" />
            <div class="form-group">
                <label asp-for="DepartureCity" class="control-label"></label>
                <input asp-for="DepartureCity" class="form-control" />
                <span asp-validation-for="DepartureCity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArrivalCity" class="control-label"></label>
                <input asp-for="ArrivalCity" class="form-control" />
                <span asp-validation-for="ArrivalCity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DepartureDate" class="control-label"></label>
                <input asp-for="DepartureDate" class="form-control" />
                <span asp-validation-for="DepartureDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DepartureTime" class="control-label"></label>
                <input asp-for="DepartureTime" class="form-control" />
                <span asp-validation-for="DepartureTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArrivalTime" class="control-label"></label>
                <input asp-for="ArrivalTime" class="form-control" />
                <span asp-validation-for="ArrivalTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberOfPassengers" class="control-label"></label>
                <input asp-for="NumberOfPassengers" class="form-control" />
                <span asp-validation-for="NumberOfPassengers" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group"  id="save">
                <input type="submit" value="Save" class="btn btn-primary" id="save" />
            </div>
        <</form>
    </div>
</div>

<div id="save">
    <a class="btn btn-primary nav-link text-black" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
