################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Gbc_Travel-Group63/.vs/Gbc_Travel-Group63/FileContentIndex/3451e245-3bd8-4d35-9800-95686a01d582.vsidx
/Gbc_Travel-Group63/.vs/Gbc_Travel-Group63/FileContentIndex
*.bin
