@model Gbc_Travel_Group63.Models.Hotel

@{
    ViewData["Title"] = "Create";
}

<h3>Add a Property</h3>
<hr />
<style>
    #Create{
        padding-top: 10px;
    }
</style>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="HotelName" class="control-label"></label>
                <input asp-for="HotelName" class="form-control" />
                <span asp-validation-for="HotelName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Location" class="control-label"></label>
                <input asp-for="Location" class="form-control" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StarRating" class="control-label"></label>
                <input asp-for="StarRating" class="form-control" />
                <span asp-validation-for="StarRating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PricePerNight" class="control-label"></label>
                <input asp-for="PricePerNight" class="form-control" />
                <span asp-validation-for="PricePerNight" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label asp-for="IsPetFriendly" class="control-label"></label>
                <select asp-for="IsPetFriendly" class="form-control">
                    <option value="">Select</option>
                    <option value="True">Yes</option>
                    <option value="False">No</option>
                </select>
                <span asp-validation-for="IsPetFriendly" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RoomType" class="control-label"></label>
                <select asp-for="RoomType" class="form-control">
                    <option value="">Select</option>
                    <option value="SINGLE">Single</option>
                    <option value="DOUBLE">Double</option>
                </select>
                <span asp-validation-for="RoomType" class="text-danger"></span>
            </div>
            <div class="form-group" id="Create">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
            <div>
                <a id="btn" class="btn" asp-action="Index">Back to List</a>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
