@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}
<h1>Welcome to Travel Website of Group 63</h1>
<p>Website Name: TravelGuru </p>
<p>Student name: Nishita Sachdev </p>
<p>Student Id: 101450921 </p>
<p>Course code: 2139 - W2024 </p>
<p>Lab Prof: Farzin </p>