@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!-- _HotelSearchForm.cshtml -->
<style>
    .form-group{
        padding-top:10px;
    }
</style>
<form class="search-form" asp-controller="Hotels" asp-action="SearchH" method="get">
        <div class="col-md-6">
            <div class="form-group">
                <label for="location">Location</label>
                <input type="text" class="form-control" id="location" name="location" placeholder="Enter location" required>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label for="pricePerDay">Price per Day</label>
                <input type="number" class="form-control" id="pricePerDay" name="pricePerDay" placeholder="Enter price per day" required>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="roomType">Room Type</label>
                <select class="form-control" id="roomType" name="roomType" required>
                    <option value="Single">Single</option>
                    <option value="Double">Double</option>
                   
                </select>
            </div>
        </div>
   
    <div class="form-group">
        <button class="btn btn-primary" type="submit">Search Hotels</button>
    </div>
</form>

